.review {
	background-color: rgba(255, 255, 255, .8);
	padding: 0 1.8125rem 1px 1.8125rem;
	border-radius: 20px;
	


	@mixin atLarge {
		background-color: rgba(255, 255, 255, .8);
	    padding: 0 1.8125rem 1px 1.8125rem;
	    border-radius: 20px;
	    margin-left: 90px;
	    

	}

	&__photo {
		border-radius: 80px;
		overflow: hidden;
		width: 160px; 
		height: 160px;
		margin: 80px auto -80px auto;
		position: relative;
		top: -80px;
		border: 5px solid rgba(255, 255, 255, .8);

	}


	&__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 200;
    margin: -10px 0 -10px 0;
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin: -10px 0 -10px 0;
  }

  &__last {
  	margin-bottom: 25px;
  }

  

}