.header {
	position: relative;
	border-bottom: 7px solid $mainOrange;
	

	&__border {
		display: block;
	}

	


&__text {
	position: absolute;
	top: 50%;
	transform: translateY(-80%);
	left: -25%;
	right: 0;
	width: 100%;
	text-align: center;
	color: green;
}

&__title {
	font-weight: 300;
	color: $mainBlue;
	font-size: 1.5rem;
	margin: 0;

	@mixin atSmall {
		font-size: 2rem;
	}

	@mixin atMedium {
		font-size: 3.2rem;
	}

	@mixin atLarge {
		font-size: 4.8rem;
	}


}

&__subtitle {
	font-weight: 300;
	color: $mainBlue;
	font-size: 1.1rem;
	margin: 0;

	@mixin atSmall {
		font-size: 1.1rem;
	}

	@mixin atMedium {
		font-size: 2.5rem;
	}

	@mixin atLarge {
		font-size: 2.9rem;
	}
}

	&__offers {
		font-weight: 500;
	    color: $mainOrange;
	    font-size: 1.8rem;
	    margin: 0;
	    text-align: center;

	@mixin atSmall {
		font-size: 2.1rem;
	}

	@mixin atMedium {
		font-size: 3rem;
	}

	@mixin atLarge {
		font-size: 3.5rem;
	}

	}
}


