.site-header {
	position: absolute;
	width: 100%;
	z-index: 2;
	position: fixed;
	padding: .8rem 0 .8rem 0;
	transition: background-color .4s ease-out;

	&--is-expanded {
		background-color: rgba(47, 85, 114, .4);
	}

	@mixin atMedium {
		background-color: rgba(47, 85, 114, .4);
	}


	&__logo {
		display: none;
		position: absolute;
		border: 3px solid $mainOrange;
		margin-top: -12px;
		
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		padding-bottom: -20px;

		@mixin atMedium {
			display: block;
			left: auto;
			transform: translateX(0);
			margin-left: 20px;

		}
	}

	

	&__menu-icon {
		width: 25px;
		height: 25px;
		
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		&__top {
			position: absolute;
			top: 0;
			width: 23px;
			height: 3px;
			background-color: $mainOrange;
		}

		&__middle {
			position: absolute;
			top: 8px;
			width: 23px;
			height: 3px;
			background-color: $mainOrange;
		}

		&__bottom {
			position: absolute;
			top: 16px;
			width: 23px;
			height: 3px;
			background-color: $mainOrange;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .4s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 10px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
    
   }
}